form{
    display: inline-block;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.login h1{
    text-align: center;
}
.sign{
    
    position: relative;

}
p{
    text-align: center;
}
